snippet = <%= .. %>
	<%= ${0} %>

snippet each
	<% ${1}.each do %>
		${0}
	<% end %>

snippet eachv
	<% ${1}.each do |${2:variable}| %>
		${0}
	<% end %>

snippet ff form_for 
	<%= form_for ${1:obj} do |f| %>
		${0}
	
	<% end %>

snippet lt link_to
	<%= link_to ${1:text}, ${2:path} %>

snippet partial
	<%= render partial: ${1:name} %>


