[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundles/ZoomWin"]
	path = .vim/bundles/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/ack-vim"]
	path = .vim/bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
