[submodule ".vim/bundle/ag.vim"]
	path = dot.vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/bufexplorer"]
	path = dot.vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule ".vim/bundle/vim-rails"]
	path = dot.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/ack-vim"]
	path = dot.vim/bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-rake"]
	path = dot.vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/vim-markdown"]
	path = dot.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/nerdtree"]
	path = dot.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tabular"]
	path = dot.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-bundler"]
	path = dot.vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = dot.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-colorschemes"]
	path = dot.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/vim-fugitive"]
	path = dot.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-repeat"]
	path = dot.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-cucumber"]
	path = dot.vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/vim-surround"]
	path = dot.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-textobj-rubyblock"]
	path = dot.vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = dot.vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = dot.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/tComment"]
	path = dot.vim/bundle/tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "dot.vim/bundle/vimwiki"]
	path = dot.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
