snippet h1
	<h1>${0}</h1>
snippet h2
	<h2>${0}</h2>
snippet h3
	<h3>${0}</h3>
snippet h4
	<h4>${0}</h4>
snippet p
	<p>${0}</p>
snippet div
	<div>${0}</div>
snippet divc
	<div class="${1:class}">
		${0}
	</div>
snippet strong
	<strong>${0}</strong>
snippet br
	<br/>
