snippet form
	<form action="${1}">
		${0}
	</form>
snippet fieldset
	<fieldset>
		${0}
	</fieldset>
snippet label
	<label for="${1}">${0}</label>
snippet button
	<button type="{1 button}">${1 label}</button>
