snippet doc
	<!DOCTYPE html>
snippet html
	<html lang="${1:en}">
		${0}
	</html>
snippet head
	<head>
		<meta charset="utf-8" />
		${0}
	</head>
snippet body
	<body>
		${0}
	</body>
snippet a
	<a href="${1:url}">${2:link text}</a>
snippet script
	<script src="${1}"></script>

