snippet tab table
	<table>
		${0}
	</table>
snippet tabi table id=
	<table id="${1}">
		${0}
	</table>
snippet th table header
	<th>${0}</th>
snippet tr table row
	<tr>
		${0}
	</tr>
snippet td table cell
	<td>${0}</td>
