snippet spec
	require 'rails_helper'

	describe '${1:ClassName}' do
		${0}
	end

snippet desc
	describe '${1}' do
		${0}
	end

snippet it
	it '${1:name}' do
		${0}
	end

snippet let
	let(:${varname}) { ${0} }

snippet befe before each
	before(:each) do
		${0}
	end

snippet befa before all
	before(:all) do
		${0}
	end

snippet allow
	allow(${1}).to receive(${0})

snippet exp
	expect(${1}).to ${0}

snippet expn
	expect(${1}).to_not ${0}
