snippet comp Create Component
	var ${1:name} = React.createClass({
		render: function() {
			return (
				${2:jsx code}
			);
		}
	});
snippet imp Import Component
	import ${1:component} from '${2:source}'
