snippet ff form_for 
	<%= form_for ${1:obj} do |f| %>
		${0}
	
	<% end %>
snippet bt belongs_to
	belongs_to :${1:model}
snippet hm has_many
	has_many :${1:models}
snippet valp validates presence
	validates :${1:attribute}, presence: true
snippet rt redirect_to
	redirect_to ${0}

snippet ren render
	render ${0:action or path}

