snippet desc describe
	describe '${1:description}' do
		${0}
	end

snippet con context
	context '${1:description}' do
		${0}
	end

snippet it
	it '${1:description}' do
		${0}
	end
snippet eq
	expect(${1:first}).to eq(${2:second})



