snippet cla Plain class definition
	class ${1:name} {
		${0}
	};

snippet pri Private keyword
	private:
		${0}

snippet pro Protected keyword
	protected:
		${0}

snippet pub Public keyword
	public:
		${0}

snippet while While loop
	while(${1:condition}) {
		${0}
	}

snippet if If block
	if(${1:condition}) {
		${0}
	}

snippet bre Break 
	break;
