snippet import
abbr    Import module 
  import { ${1:refs} } from '${2:source}'


snippet require
abbr    Require module 
  const ${1:name} = require('${2:path}')


snippet class_base
abbr    Plain class
  class ${1:className} {
    ${2}
  }


snippet class_extends
abbr    Extended class
  class ${1:className} extends ${2:parent} {
    ${0}
  }




snippet log
  console.log(${0})
