snippet describe
  describe('${1:name}', () => {
    ${0}
  })


snippet test
  test('${1:name}', () => {
  })


snippet beforeEach
  beforeEach(() => {
    ${0}
  })


snippet afterEach
  afterEach(() => {
    ${0}
  })


snippet expect
  expect(${1}).toEqual(${2})
